html,body,div,form,ul,li,h1,h2,h3,h4,h5,p,a,img{
        margin: 0;
        padding: 0;
}

body {
        font-family: 'Microsoft YaHei', Arial, Verdana, Helvetica, Tahoma, sans-serif;
        color: #444;
        padding-bottom: 60px;
        font-size: 12px;
        overflow:hidden;
        background:#faf7ec ;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
        text-align: center;
}
img{border: none;}
h1{font-size:16px;}
h2, h3{font-size:14px;}
h4, h5, h6{font-size:12px}
small{font-size:11px}
em{font-style:normal;font-weight:bold;color:#F93}
input, option, textarea{font-size:12px;}
ol, ul{list-style: none;}

a {
        font-size: 12px;
        color: #006699;
        font-style: normal;
        font-family: verdana, arial, helvetica, sans-serif;
        text-decoration: none;
       
}
a:link { color: #006699 }
a:visited { color: #006699 }
a:hover {
        color: #006699;
        text-decoration: underline;
}
a:active {}


.hidden{display:none;}
.clear{clear:both;}
.line{height:2px;border-bottom:1px solid #069;}
.dotted_line{border-bottom:#e4e4e4 1px dotted}
.input-text{border:1px solid #888888;padding:2px 3px;}
#content{min-height: 900px;}
.head, .container, .footer{width:900px;margin:0 auto;}

/**footer**/
.footer {
        margin-top: 20px;
        text-align: center;
        width: 100%;
        color: #666;
        font: normal 12px Tahoma, Geneva, sans-serif;
}

