.tab {float:left; width:520px;background:#f3f3f3;}
.tab ul ,.content_siber ul{ float:left; }
.tab ul li,.content_siber ul li { margin:0; padding:5px 10px; float:left;}
.tab ul li a.tab_item { display:block; margin:0; padding:0; color:#069; text-decoration:none; font:bold 13px Arial, Helvetica, sans-serif;}
.tab ul li.active a, .tab ul li a:hover { color:#ce0201;}
.tab_cont_box{height: auto; overflow:hidden;  margin:0;  padding:0px 10px;}

#guest_tab{
	width:100%;
	background:#fff;
	padding-left:10px;
}
#guest_tab li{
	 padding:5px 5px ;
}
#guest_tab .sd02 a{
	font-weight:normal;
}
.content_1{
	background:#e9e9e9;
	border-top:1px solid #ccc;
	padding:10px 10px;
}
.box_1{
	width:180px;
	border:1px solid #ccc;
	padding:15px;
	background:#fff;
	float:left;
	margin:10px 
}
.box_1 a img{
	display:block;
	width:180px;
}
.box_1 h3{
	margin:10px 0;
	width: 100%;
}
.box_1 p{
	line-height: 20px;
}
.box_1_foot{
	border-top:1px dotted #ccc;
	margin-top:10px;
	padding-top:10px;
}
.box_1_foot a{
	display: inline;
	font-size:12px; 
}
