html,body,iframe,div,form,ul,li,h1,h2,h3,h4,h5,p,a,i,img,input,span,table,tr,td,dl,dt,dd{
	margin: 0;
	padding: 0;
	border:0;
	font-size:100%;
}
body{
	background: #f2f2f2;
	color:#999;
	overflow:auto;
	bo/rder: 10px solid #000;
	font/-family:'Microsoft YaHei', Arial;
	/*min-height: 100%;
	_height:100%;*/ 
}
#content{
	min-height: 600px;
}
h3{
	padding-bottom:10px;
	color:#586067;
	font-size:14px;
	font-weight:bold;
	font-fa/mily:'Microsoft YaHei', Arial;
}
h3 span{
	color:#999;
}
h4{
	font-size:13px;
	color:#586067;
	padding-bottom:5px;
	border-bottom:1px solid #C6C7C6;
}
h3 span,h4 span {
	padding-left:20px;
	font-weight:normal;
	font-size: small;
}
p{
	font-size: 13px;
}
form{clear:both;}
.clear{
	clear:both;
}
.hidden{
	display:none;
}
iframe[name=mainiframe]{
	width:610px;
	overflow:visible;
}
/*---------inline window------------*/
#fade {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none;
	background: #fff;
	padding: 20px; 	
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right; 
	margin: -55px -55px 0 0;
}
/************************a_style*******/
a {
	font-size: 100%;
	color: #26709A;
	font-style: normal;
	fon/t-family:'Microsoft YaHei', Arial;
	text-decoration: none;
}
a:link { color: #26709A }
a:visited { color: #26709A }
a:hover {color: #26709A;	text-decor/ation: underline;}
a:active {}
a.active {font-weight:bold;}

#head_nav a {
	text-s/hadow: 1px 1px 1px #000;
	padding: 0px 10px;
	
}
#head_nav a:hover {
	color: #fff;
}
/*--a_右边菜单--*/
a.a_sty_01{
	font-size:14px;
	display:block;
	height: 30px;
	line-height: 30px;
	color:#444;
}
a.a_sty_01:hover{
	background:#dfdfdf;
}
a.a_sty_02{
	font-size:12px;
	position:absolute;
	right: 15px !important;
	right: 30px;
	top:7px;
}
.asso_ul li a{
	color: #737373;
}
.drop_box a{
	color:#404040;
	font-weight:normal;
}
/*-a_按钮-*/
a.creat_button{
	display:block;
	width:90px;
	text-align:center;
	height:30px;
	line-height: 30px;
	font-weight:bolder;
	border:1px solid #C6C7C6;
	margin-bottom:20px;
}
/*-----a_选项卡-----*/
.search_item ul li a{
	display:block;
	float:left;
	padding: 0 20px;
	height:30px;
	line-height:30px;
	display:block;
	font-weight:normal;
}
.search_item ul li a:hover{
	text-decoration: none;
	background:#ebebeb;
}
.search_item ul li a#active,.search_item ul li a#active:hover{
	background:#c6c7c6;
	color:#fff;
	font-weight:bold;
}
.post_switch a{
	padding:0 5px;
}
.post_switch .right a{
	font-size: 12px;
}
/******************************ul style**********/
ol, ul{list-style: none;}
li {
	display: list-item;
	list-style: none;
	text-align: -webkit-match-parent;
}
/*-下拉菜单-*/
.drop_box{
	position:absolute;
	left:-31px;
	font-size:12px;
	width:80px;
	text-align:center;
	margin-top:-3px;
	background:#fff;
	border: 1px solid #b8b8b8;
	border-width: 0 1px 1px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.drop_box li{
	b/order: 1px solid #b8b8b8;
	height:25px;
	line-height:25px;
}
/*-------右边菜单-------*/
.sidebar_nav ul li{
	bo/rder:1px solid #c6c7c6;
	position:relative;
}
/*-------post-------*/
li.feed_a{
	border-bottom: 1px solid #C6C7C6;
	overflow:hidden;
	padding:10px 0;
}
.feeds_comment_box li{
	margin:10px 0;
	width:510px;
	overflow:hidden;
	border-bottom:1px dashed #C6C7C6;
}
.feeds_comment_box li:last-child{
	border:none;
}
/*--------ul li a 选项卡----------*/
.search_item ul{
	border-bottom:1px solid #c6c7c6;
	padding-top:20px;
	overflow: hidden;
}
.search_item ul li{ 
	float:left;
}

/*-asso_list-*/
.asso_ul {
	margin-top:20px;
}
.asso_ul li{
	margin: 10px 0;
}
.asso_info li{
	height:20px;
	line-height:20px;
	color:#737373;
}

/*------ul li a img--------*/

/*-asso_list-*/
.asso_list li{
	float:left;
}
.asso_list_a_img,.asso_list_a_img img{
	display:block;
}
.asso_list_a_img img{
	width:50px;
	height:50px;
}
.asso_list_a_img{
	margin:0 15px;
	padding:5px 10px;
	bor/der:1px solid #C6C7C6;
}
.asso_list_a_name{
	width:70px;
	margin:0 15px;
	text-align:center;
	bor/der:1px solid #C6C7C6;
}
/*-asso_list_01-*/
.asso_list_01 li{
	margin:10px 10px 10px 0;
}
.asso_list_01 .asso_list_a_img{
	margin:0;
	padding:0;
	width:50px;
}
/*-profile_pic-*/
#profile_pic_style ul{
	border-bottom:1px solid #c6c7c6;
	padding:20px 0;
	overflow: hidden;
}
#profile_pic_style ul li{ 
	float:left;
	border:1px solid #fff;
}
#profile_pic_style ul li a{
	display:block;
	float:left;
	font-weight:normal;
}
#profile_pic_style ul li a img{
	height:100px;
	width:100px;
}
#profile_pic_style ul li a:hover{
	text-decoration: none;
	background:#ebebeb;
}
#profile_pic_style ul li a#active,#profile_pic_style ul li a#active:hover{
	background:#c6c7c6;
	color:#fff;
	font-weight:bold;
}
/*******************/
#head,#container{
	width:900px;
	margin:0 auto;
}
/********************/
#footer{
	width:100%;
	height:60px;
	padding-top: 80px;
	position:absolute;
	top: expression(offsetParent.scrollTop+document.documentElement.clientHeight-this.offsetHeight);
	background:#343841 url(../img/page-footer-bg.jpg) top repeat-x;
}
/**header**/
#header {
	text-align: center;
	display: block;
	position: relative;
	height: 45px;
	clear: both;
	background: #343841 url(../img/stripe.gif) repeat top left;
	margin-bottom: 30px;
	border-bottom: 7px solid #ccc;
	font-size: 14px;
	line-height: 45px;
	over/flow: hidden;
	width: 100%;
	font-weight: bold;
}
.left {	float: left;}
.right{float: right;}
.setting{
	float:left;
	position:relative;
	width:50px;
	text-align: center;
}
.setting:hover{
	background:#fff;
	border: 1px solid #b8b8b8;
	border-width: 0 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/*****搜索*******/
.search{
	float:left;
	background:#fff;
	display:inline-block;
	width:181px;
	height:21px;
	margin-top:10px;
	border: 1px solid #C6C7C6;
	margin-left:10px;
}
.search .keywords {float:left;border: 0; width:155px; background:none; line-height:21px; height:21px; color:#bab9b9; }
.search .button {float:left;margin:0;width:25px;height:21px;cursor:pointer;border-left:1px solid #cacaca; background:url(../img/toolbar.png) -91px -26px;}

/**************container******************/
#container{
	padding-top: 28px;
	padding-bottom: 15px;
	overflow:auto;
}
#main{
	font-size: 12px;
	float: left;
	width: 610px;
/*	height:auto;*/
	overflow:visible;
	padding-left:10px;
	padding-right:40px;
	border-right:1px solid #c6c7c6;
	font-size:12px;
}

/*********sidebar*************/
#sidebar{
	float: right;
	width: 219px;
	padding:0 10px;
	color:#c6c7c6;
}
.user_head_box img {
	width: 180px;
	height: 180px;
	border:10px solid #586067;
	border-radius: 3px;
	display:block;
	margin-bottom:30px;
	-webkit-box-shadow:-1px 2px 5px #666;
	-moz-box-shadow:-1px 2px 5px #666;
}
.user_head_box .user_name{
	display: block;
	font-size:24px;
	font-weight:bold;
	color:#586067;
	border-left: 10px solid #586067;
	padding-left: 10px;
	font-family:'Microsoft YaHei', Arial;
}
.sidebar_nav{
	padding:10px;
	margin-bottom:10px;
	border-bottom:1px solid #c6c7c6;
	font-size:12px;
	overflow: hidden;
}

/*.ico{
	width: 16px;
	height: 16px;
	margin: 0 7px;
	display: inline-block;
	vertical-align:middle;
}
.ico_newthings{
	background:url(../images/page_element/ico.png) 0 -53px;
}
.ico_circle{
}
.ico_log{
	background:url(../images/page_element/ico.png) -469px 0;
}
.ico_photo{
	 background:url(../images/page_element/ico.png) -469px -17px;
}
.ico_say{
	background:url(../images/page_element/ico.png) -469px -34px;
}*/

