.login{
	width:370px;
	height:300px;
	position:absolute;
	top:50px;
	left:300px;
	background:#fff;
	border:#C6C7C6 10px solid;
	padding-bottom:30px;
	color:#666;
	font-size:12px;
	position:relative;
}

.title{width:358px;height:60px;line-height:60px;
	color:#586067;font-size:24px;font-weight:bold;font-family:'Microsoft Yahei',simsun,Tahoma,Arial,;
	padding-left:12px;background:#E9E9E9;margin:0} 
.title span{font-size:20px;}
form{margin-top:20px;margin-left: 10px;}
.field{margin-top:15px;}
.field label{display:inline-block;text-align:right;width:70px;font-weight:bold}
.field input{width:250px;height:25px;line-height: 25px;border: 1px solid #eaeaea;}
.field_below{position:relative;left:75px;margin-top:20px;}
.field_below .button{width:80px;height:30px;background:#94cc7d;color:#FFF;border:none;}
.field_below span{margin-left:10px;}
.prompt{display:block;margin-left:75px;height: 20px;line-height: 20px;}
