<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>add_activity</title>
		<!-- 		<script type="text/javascript" src="resource/js/calenderJS.js"></script> -->
		<link rel="stylesheet" type="text/css" href="resource/css/home.css" />
        <link rel="stylesheet" type="text/css" href="resource/css/main_content.css" />
		<link type="text/css" href="resource/css/smoothness/jquery-ui-1.7.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="resource/js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="resource/js/jquery-ui-1.7.custom.min.js"></script>
	</head>
	<body>
		
		<div id="add-corporation">
			<form class="form">
				<span ><label>活动名称：</label>
					<div class="InputWrapper"><div class="InputInner">
						<input />
					</div></div>
				</span>
				<span ><label>活动地点：</label><?=form_dropdown('gender',array('1'=> '川大江安', '0' => '川大望江')) ?></span>
				<span ><label>活动时间：</label>
					<div class="InputWrapper"><div class="InputInner">
						<input type="text" id="from" />
					</div></div>
					<div class="InputWrapper"><div class="InputInner">
						<input type="text" id="to" />
					</div></div>
				</span>
				<span ><label>活动简介：</label>
					<table class="Textarea">
					<tbody>
						<tr>
							<td id="Textarea-tl"></td>
							<td id="Textarea-tm"></td>
							<td id="Textarea-tr"></td>
						</tr>
						<tr>
							<td id="Textarea-ml"></td>
							<td id="Textarea-mm" class="">
								<div>
									<?=form_textarea(array('name' => 'content')) ?>
								</div>
							</td>
							<td id="Textarea-mr"></td>
						</tr>
						<tr>
							<td id="Textarea-bl"></td>
							<td id="Textarea-bm"></td>
							<td id="Textarea-br"></td>
						</tr>
					</tbody>
					</table>
				</span>
				<p class="li_c"><?=form_submit('submit', '保存','class="button"') ?></p>
			</form>
			<script type="text/javascript">
			$(function() {  
	        	var dates = $( "#from, #to" ).datepicker({  
	            defaultDate: "+1w",  
	            changeMonth: true,  
	            numberOfMonths: 1,  
	            onSelect: function( selectedDate ) {  
	                var option = this.id == "from" ? "minDate" : "maxDate",  
	                    instance = $( this ).data( "datepicker" ),  
	                    date = $.datepicker.parseDate(  
	                        instance.settings.dateFormat ||  
	                        $.datepicker._defaults.dateFormat,  
	                        selectedDate, instance.settings );  
	                dates.not( this ).datepicker( "option", option, date );  
	            	}  
	        	});  
	    	});  
			</script>
	
</div>  
	</body>
</html>
