<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>社团相册</title>
	</head>
	<body>
		<h1>社团相册</h1>
		<div id="co_03" class="hidden">
			<div class="photo_album_box">
				<div class="photo_operate">
					<div id="thumbnail"></div>
					<div class="swf_upload_button">
		                <span id="spanButtonPlaceholder3">浏览</span>
		                <input type="button" value="开始上传" class="btn_startupload" onclick="swfu3.startUpload();"/>
		                <input type="button" value="取消上传" id="btnCancel3" onclick="swfu3.cancelUpload();"/>
		            </div>
		            <div class="fieldset flash" id="fsUploadProgress3">
		            	上传列表
		            </div>
					<a href="#" >创建相册</a>
				</div>
				<ul class="photo_album_ul">
						<li>
							<a href=""><img src="" /></a>
							<p>相册名</p>
						</li>
						<li>
							<a href=""><img src="" /></a>
							<p>相册名</p>
						</li>
						<li>
							<a href=""><img src="" /></a>
							<p>相册名</p>
						</li>
				</ul>
			</div>
	</body>
</html>
