html,body,div,form,ul,li,h1,h2,h3,h4,h5,p,a,img{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Microsoft YaHe/i', Arial, Verdana, Helvetica, Tahoma, sans-serif;
	color: #444;
	padding-bottom: 60px;
	font-size: 12px;
	background:#faf7ec ;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}
img{border: none;}
h1{font-size:16px;}
h2, h3,h4{font-size:14px;}
h5, h6,p{font-size:12px}
small{font-size:11px}
em{font-style:normal;font-weight:bold;color:#F93}
input, option, textarea{font-size:12px;}
ol, ul,li{list-style: none;}

a {
	font-size: 100%;
	color: #006699;
	font-style: normal;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	
}
a:link { color: #006699 }
a:visited { color: #006699 }
a:hover {
	color: #006699;
	text-decoration: underline;
}
a:active {}


.hidden{display:none;}
.clear{clear:both;}
.line{height:2px;border-bottom:1px solid #069;}
.dotted_line{border-bottom:#e4e4e4 1px dotted}
.input-text{border:1px solid #888888;padding:2px 3px;}
#content{min-height: 900px;}
.head, .container, .footer{width:900px;margin:0 auto;}
/**header**/
.header {
	text-align: center;
	display: block;
	position: relative;
	height: 45px;
	clear: both;
	background: #000 url(../img/stripe.gif) repeat top left;
	margin-bottom: 30px;
	border-bottom: 7px solid #ccc;
	font-size: 14px;
	line-height: 45px;
	text-align: right;f/
	ont-style: italic;
	overflow: hidden;
	width: 100%;
}
.header a {
	text-shadow: 1px 1px 1px #000;
	padding: 0px 10px;
	outline: none;
	display:inline-block;
}
.right a{
	padding: 0px 5px;
}
.header a:hover {
	color: #fff;
}
.header .nav_1 {
	color: #1B80B5;
}
.header .nav_1:hover {
	color: #fff;
}
.left {
	float: left;
	font-weight: bold;
}
.right{float: right;border:1px solid #006699;}
.right form{display:inline-block;}
#search { float:right; background:#fff; width:200px;height:28px; margin-top: 8px;margin-left:20px;border:1px solid #cccccd;padding-left: 5px;}
#search .keywords { width:160px; line-height:18px; height:28px; float:left;
	border:1px solid red; background:none;
	margin:0;padding:0; border:0;color:#bab9b9; }
#search .button { float:right; margin:0; padding:0; border:0; position:relative;width:26px;height:28px; }
/**footer**/
.footer {
	margin-top: 20px;
	text-align: center;
	width: 100%;
	color: #666;
	font: normal 12px Tahoma, Geneva, sans-serif;
}
/***********子页面样式暂时放在这里******************/
#modify{
	float: right;
}
.set_title{
	padding-bottom:10px;
	margin-bottom:20px;
	margin-top:20px;
	border-bottom:1px solid #ccc;
}
.user_setting li{
	margin: 10px auto;
}
.user_setting .button{
	padding-bottom:5px;
	margin-left:35px;
	background:#e6eff7;
	color:#005CA8;
	display:block;
	height:25px;
	line-height:25px;
	text-align:center;
	border:1px solid #2C7CA4;
}
#uploading{margin-left:0;margin-bottom: 5px;}
