html, body, div, ul, ol, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img {
	margin:0;
	padding:0;
	border:0;
}

html, body {
	height:100%;
	font-family:"", arial;
}
body {
	font-size:12px;
    line-height: normal;
    font-family:'Microsoft Yahei',simsun,Tahoma,Arial,Helvetica,SimHei;
}
a {
	font-size: 12px;
	color: #006699;
	font-style: normal;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	
}
a:link { color: #006699 }
a:visited { color: #006699 }
a:hover {
	color: #006699;
	text-decoration: none;
}
a:active {
	color: #006699;
	text-decoration: underline
}

ol, ul , li{
    list-style: none;
}

.clear{
clear:both;
}
img{border:none;}
.hide{display:none;}
.dotted_line{border-bottom:#e4e4e4 1px dotted}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}
em{font-style:normal;font-weight:bold;color:#F93}


h1{font-size:16px;font-family:'Microsoft Yahei',simsun,Tahoma,Arial,Helvetica,SimHei;}
h2, h3{font-size:14px;font-family:'Microsoft Yahei',simsun,Tahoma,Arial,Helvetica,SimHei;}
h4, h5, h6{font-size:12px}
small{font-size:11px}
input, option, textarea{font-family:Arial;font-size:12px;}
.input-text{border:1px solid #888888;padding:2px 3px;}

body{background:#faf7ec ;
}
.foot{float:left;border-top:#CCC 1px dashed;height:80px;width:100%;color:#F00}
.foot p{text-align:center;}

.about p a {color:#999;}