

img{width:50px;height:50px;}
h3{
	font-weight:normal;
	margin:10px 5px;width:200px;background:#f3f3f3;
}
h4{
	font-weight:normal;
	color: #444444;
}
/**tab**/
.tab {margin:5px 0;float:left; width:520px;background:#f3f3f3;}
.tab ul ,.content_siber ul{ float:left; }
.tab ul li,.content_siber ul li { margin:0; padding:5px 10px; float:left;}
.tab ul li a.tab_item { display:block; margin:0; padding:0; color:#069; text-decoration:none; font:bold 13px Arial, Helvetica, sans-serif;}
.tab ul li.active a, .tab ul li a:hover { color:#ce0201;}
.tab_cont_box{height: auto; overflow:hidden;  margin:0;  padding:0px 10px;}

/**container**/
.container{
	overflow:hidden;
	border:1px solid #006699;
	position:relative;
}	
/**content_main**/
.content_main{
	border-width:0 1px;
	width:670px;
	float:left;
}
.main_top{overflow: auto;padding: 5px}	
.head_pic{display:block;float:left;}
.pub{float:right;width:580px;}
.main_top img {display:block;width:50px;height:50px;float: left;}

.article_one{border-bottom: 1px solid #ccc; overflow:hidden; margin:10px 0;padding-bottom:10px;}
.article_one a,.article_one a.head_pic img{display:block;float:left;}
.article_sub_box{width:560px;float:right;}
.article_sub_box span{color:#069;}
.article_sub_box p{font-size:12px ;color: #666;}

/**content_siber**/
.content_siber{
	width:222px;
	float:left;
	border-left:1px solid #069;
}

.content_siber a{}
.content_siber img{width:30px;height:30px;}	

