#search_page h3{
	font-weight:bold;
	background:none;
	width: 100%;
}
#search_page h4{
	padding-bottom:5px;
	border-bottom:1px solid #cee1ee;
}
#search_page h3 span,#search_page h4 span {
	padding-left:20px;
	font-weight:normal;
	font-size: small;
}
#search_box{
	width:600px;
	height:30px;
	padding:10px;
	background:#f3faff;
	border:1px solid #cee1ee;
}
#search_box a{
	display:block;
	float:right;
	width:80px;
	height:30px;
	line-height: 30px;
	border-left:1px solid #7fa3cb;
	margin-left:20px;
	font-size: 14px;
	text-align:center;
	cursor: pointer;
}
.serch_input{
	width:400px;
	height:30px;
	line-height: 30px;
	vertical-align:middle;
	background:#fff;
	border:1px solid #7fa3cb;
	padding:4px;
}
.serch_button{
	width:80px;
	height:30px;
	line-height: 30px;
	text-align:center;
	background:#005eac;
	border:none;
	color: #fff;
	font-weight:bold;
	vertical-align:middle;
}
.search_result{
	float:left;
	width:420px;
	padding:10px;
	background:#f3faff;
	margin-top:10px;
	
}
.search_result ul li{
	overflow: hidden;
	padding:10px 0;
	border-bottom:1px solid #ccc;
}
.search_result .head_pic,.search_result img{
	display:block;
	width:100px;
	height:100px;
	float: left;
}
.li_mbox{
	float:left;
	margin-left:20px;
	b/order:1px solid #7fa3cb;
	width:160px;
}
.li_r{
	display:block;
	float:right;
	width:80px;
	text-align:center;
}
/*******search_item******/
#search_item{
	float:left;
	margin-top:10px;
	margin-right:20px;
}
#search_item ul{
	border:1px solid #7fa3cb;
	margin: 0;
	padding: 0;
	padding-top:20px;
}
#search_item ul li{ 
	display:block;
	float:none;
	margin: 0;
	padding: 0;
	text-indent:20px;
}
#search_item ul li a{
	width: 160px;
	height:30px;
	line-height:30px;
	display:block;
	font-weight:normal;
}
#search_item ul li a:hover{
	text-decoration: none;
	background:#deebf3;
}
#search_item ul li a#active,#search_item ul li a#active:hover{
	background:#558bc6;
	color:#fff;
	font-weight:bold;
}

