body,div,ul,li,h1,h2,h3,h4,h5,p,a,img{
	margin: 0;
	padding: 0;
	border: none;
}
body {
	font-family: 'Microsoft YaHei', Arial, Verdana, Helvetica, Tahoma, sans-serif;
	color: #444;
	padding-bottom: 60px;
	font-size: 12px;
}
a {
	text-decoration: none;
	color: #666;
}
ul{
	list-style: none;
}
.clear{clear:both;}
.line{height:2px;border-bottom:1px solid #069;}
img{width:50px;height:50px;}
.hidden{display:none;}

.head, .container, .footer{width:900px;margin:0 auto;}
.header {
	text-align: center;
	display: block;
	position: relative;
	height: 45px;
	clear: both;
	background: #000 url(../img/stripe.gif) repeat top left;
	margin-bottom: 30px;
	border-bottom: 7px solid #ccc;
	font-size: 14px;
	line-height: 45px;
	text-align: right;f/
	ont-style: italic;
	overflow: hidden;
	width: 100%;
}
.header a {
	text-shadow: 1px 1px 1px #000;
	padding: 0px 10px;
	outline: none;
	color: #1B80B5;
}
a.logo {color:#ccc;}
.header a:hover {
	color: #fff;
}

.header a:hover {
	color: #fff;
}
.left {
	float: left;
	font-weight: bold;
}
.right{float: right;border:1px solid #006699;}

.right .keywords { width:152px; line-height:10px; height:10px; margin-top:10px; padding:5px; color:#bab9b9; }
.right .button {line-height:25px; height:25px;margin-top:10px;}
/**content**/
.container{
	overflow:hidden;
	border:1px solid #006699;
	position:relative;
}	
/**content_main**/
.content_main{
	border-width:0 1px;
	width:670px;
	float:left;
}
.main_top{overflow: auto;padding: 5px}	
.head_pic{display:block;float:left;}
.pub{float:right;width:580px;}
.main_top img {display:block;width:50px;height:50px;float: left;}

.menu_cont {margin:5px 0;float:left; width:520px;background:#f3f3f3;}
.container ul { list-style:none;  float:left; padding:6px 0 0 0;  }
.container ul li { margin:0; padding:5px 10px; float:left;}
.menu_cont ul li a { display:block; margin:0; padding:0; color:#069; text-decoration:none; font:bold 13px Arial, Helvetica, sans-serif;}
.menu_cont ul li.active a, .menu_navcontainer ul li a:hover { color:#ce0201;}
.article_box{height: auto; overflow:hidden;  margin:0;  padding:0px 20px;}
.article_one{border-bottom: 1px solid #ccc; overflow:hidden; margin:10px 0;padding-bottom:10px;}

.head_pic img{display:block;float:left;}
.article_sub_box{width:560px;float:right;}
h4{
	font-size:14px ;
	font-weight:normal;
	color: #444444;
}
h4 span{color:#069;}
p{font-size:12px ;color: #666;}
/**content_siber**/
.content_siber{
	width:222px;
	float:left;
	border-left:1px solid #069;
}
h3{
	font-size:14px ;
	font-weight:normal;
	margin:10px 5px;width:200px;background:#f3f3f3;
}
.content_siber a{}
.content_siber img{width:30px;height:30px;}	
/**footer**/
.footer {
	margin-top: 20px;
	text-align: center;
	width: 100%;
	color: #666;
	font: normal 12px Tahoma, Geneva, sans-serif;
}
